@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


html {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  background-color: black;

}

/* Video Background */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
  filter: blur(4px) opacity(0.4);

}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;


}


.timer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 15rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
}

/* time selector */
.timeSelector {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.timeSelector button {
  font-family: 'Orbitron', sans-serif;
  margin-inline: 10px;
}

/* Button */
button {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  margin-top: 15px;
  border: 2px solid white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  outline: white;
  transition-duration: 0.4s;

}

button:hover {
  background: rgba(255, 255, 255, 0.2);
}

button:focus {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

#start {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: white 2px solid;
  border-radius: 4px;
}

#start:hover {
  border: red 2px solid;
  background: rgba(255, 255, 255, 0.2);
}

.fas {
  margin: auto;

  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

fas:hover {}


/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .video-background {
    height: 100vh;
    width: 100vw;
  }

  video {
    object-fit: cover;
    margin-top: -1px;
  }

  h1 {
    font-size: 6rem;
  }
}