@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

div.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.section-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background: bottom no-repeat;
  background-image: url(HexagonPattern.svg);
}

.section-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 95vh;
  background-image: url(control_room.svg);
  background-repeat: no-repeat;
  background-position: center;
}

img.signtech {
  width: 150px;
  height: 25px;
  margin: 15px;
}

img.samsung {
  width: 130px;
  height: 18px;
  margin: 15px;
}

/* Container */
.container {
  min-width: 30vw;
  width: 80%;
  color: black;
  margin: 20px auto;
  padding: 15px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.55);
}


h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

h1.eventTitle {
  font-size: 25px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
}

h1#countdown-title {
  font-size: 25px;
  width: 80%;
  margin: auto;
}

p {
  color: white;
}

.Register {
  align-items: center;
  background-color: #bdbdbd;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  color: #333;
  cursor: pointer;
  display: flex;
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  font-weight: 600;
  justify-content: center;
  line-height: 1.5em;
  margin: 10px;
  max-width: 350px;
  min-width: 10em;
  padding: 0.65em 1em;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transform: translate3d(0, 0, -12px);
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: auto;
}

.Register:hover {
  background-color: white;
}

/* modal */
/* modal styling */

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  backdrop-filter: blur(2px);
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}

/* form styling */

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
}

label {
  position: relative;
  margin: 10px;
  bottom: 3px;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(30, 29, 29);
  background: #bdbdbd;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  height: 50px;
  width: 70%;
  font-family: Cairo, sans-serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

button:hover {
  background: rgba(162, 185, 239, 0.5);
}


/* Countdown */

ul {
  padding: 0;
}

li {
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

li span {
  display: block;
  font-size: 30px;
  text-align: center;
}

.complete-title {
  color: white;
  animation: complete 4s infinite;
}

table {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.35);
  font-size: small;
  margin: 10px;
}

tbody {
  border-radius: 5px;
}

th,
td {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 8px;
  color: white;
}

@keyframes complete {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }

}

/* agenda table */



/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  .section-left,
  .section-right {
    width: 95vw;
    height: min-content;
  }

  table {
    width: 95%;
  }

  img.signtech {
    width: 85px;
    height: 21px;
  }

  img.samsung {
    width: 78px;
    height: 12px;
  }

  div.logos {
    width: 90vw;
  }

  .container {
    min-width: unset;
    min-height: 30vh;
    padding: 20px;
    margin: 10px;
  }

  .input-container {
    top: unset;
  }

  .countdown {
    position: relative;
    top: 10px;
  }


  h1 {
    font-size: 30px;
  }

  li {
    margin: auto;
    font-size: 12px;
    text-align: center;
    align-items: center;
  }

  li span {
    font-size: 16px;

  }
}