@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


html {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  background-color: black;

}

/* Video Background */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
  filter: blur(4px) opacity(0.4);

}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
}


.timer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.clock {
  font-size: 15rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#minutes {
  float: right;
  width: 40vw;

}

#seconds {
  float: left;
  width: 40vw;
}

#separator {
  float: none;
  width: 10vw;
}

/* time selector */
.timeSelector {
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.timeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

/* Button */
button {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  margin: 10px;
  border: 2px solid white;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  outline: white;
  transition-duration: 0.4s;

}

button:hover {
  background: rgba(255, 255, 255, 0.2);
}

button:focus {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.inactive {
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.timeControl {
  display: flex;
  flex-direction: row;
}

.blinktext {
  animation: complete 2s infinite;
}

@keyframes complete {
  0% {
    color: rgb(255, 255, 255);

  }

  25% {
    color: rgb(247, 131, 131);

  }

  50% {
    color: rgb(255, 0, 0);
    transform: scale(1.2);

  }

  75% {
    color: rgb(247, 131, 131);

  }

  100% {
    color: rgb(255, 255, 255);

  }
}


/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .video-background {
    height: 100vh;
    width: 100vw;
  }

  video {
    object-fit: cover;
    margin-top: -1px;
  }

  .clock {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1000px) and (min-width:600px) {
  .video-background {
    height: 100vh;
    width: 100vw;
  }

  video {
    object-fit: cover;
    margin-top: -1px;
  }

  .clock {
    font-size: 10rem;
  }
}

@media screen and (min-width: 1200px) {

  .video-background {
    height: 100vh;
    width: 100vw;
  }

  video {
    object-fit: cover;
    margin-top: -1px;
  }

  .clock {
    font-size: 20rem;
  }

}